<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=2447603255311367&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="header">
    <img src="https://jbhunt.sharepoint.com/:i:/r/sites/myjbhunt/Media%20Room/JB%20Hunt%20360%20Logo%20-%20Black.png?csf=1&e=7hrIDE" alt="logo" />

    <!-- iframe below uses the class .likeButton to angle the like button to the right of the page -->
  
    <h1>Mentorship Program</h1>
    <h3>Public Group</h3>
    
    
    </div>

    <div id="fb" class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
    <div id="fb">

        
      
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId=2447603255311367" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  </div>
  
    <div id="rating">
  <p-rating [(ngModel)]="val3" [cancel]="false"></p-rating>
</div>


<div id="searchBar">
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
          <button pButton type="button" label="Search"></button>
          <input type="text" pInputText placeholder="Keyword">         
      </div>
  </div>
</div>
</div>

  <!-- Class for the banenr-->
    <div class="centerMargin">
      

      <img src="https://i.ibb.co/T2qvc1Q/Untitled3.jpg" alt="" width="1900" height="300" data-load="full" style="">
    </div>


   <a routerLink="/student">

    <img src="assets/form.jpg" class="zoom" alt="ERROR" width="" height="" data-load="full" style="" >
    </a>
    
    <div class = "topnav">
      <!--Get rid of "container" class to make .navbar horizontal -->
      <div class = "container">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/student">Student</a></li>
      <li><a routerLink="/mentor">Mentor</a></li>
      <li><a routerLink="/resources">Resources</a></li>
      <li><a routerLink="/about">About</a></li>
    
    </ul>
    
    </div>
    </div>

    