<!--This sets up the list for computer Science topics with the styling "alignText for h2,h3,and ul" -->
<div class="alignText">
  <h2>Computer Science</h2>
  
  
  <h3><u>Theoretical Computer Science</u></h3>
  <ul>
  <li>Algorithms</li>
  <li>Computational Math (Geometry, Topology, etc)</li>
  <li>Cryptography</li>
  <li>Complex Algorithms</li>
  </ul>
  
  <h3><u>Security and Cryptography</u></h3>
  <ul>
  <li>Fundamentals and foundations of cryptography</li>
  <li>Applied Cryptography</li>
  <li>Polymorphic Cryptography</li>
  <li>Network Security</li>
  <li>Privacy enhancing technologies</li>
  <li>Cloud Security</li>
  </ul>
  
  <h3><u>Computer Graphics and Visuals</u></h3>
  <ul>
  <li>Computer Animation</li>
  <li>Computer Graphics</li>
  <li>Computer Vision</li>
  <li>Topographic Processing</li>
  <li>GPU Programming</li>
  <li>Image Processing</li>
  
  </ul>
  
  <h3><u>A.I and Machine Learning</u></h3>
  <ul>
    <li>Bioinformatics</li>
    <li>Computer Vision</li>
    <li>Big Data</li>
    <li>Machine Learning</li>
    <li>Data Mining</li>
    <li>Pattern Recognition</li>
    <li>Planning and decision-making</li>
    <li>Reinforcement Learning</li>
  </ul>
  
  
  <h3><u>Software Engineering</u></h3>
  <ul>
    <li>End user software engineering</li>
    <li>Dealing with software errors</li>
    <li>Programming tools, environments, and program analysis</li>
  </ul>
  
  <h3><u>Programming Languages</u></h3>
  <ul>
    <li>C</li>
    <li>C++</li>
    <li>C#</li>
    <li>Java</li>
    <li>Javascript</li>
    <li>PHP</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Python</li>
  </ul>
  
  
  <h3><u>Networking</u></h3>
  <ul>
    <li>Cellular and mobile networks</li>
    <li>Cloud and mobile computing</li>
    <li>Multimedia Systems</li>
    <li>Network coding theory</li>
    <li>Parallel Computing</li>
    <li>Network Security</li>
  </ul>
  
  
  <h2>Computer Engineering</h2>
  
  <h3><u>Analog Computing</u></h3>
  <ul>
    <li>Analog integrated circuits</li>
    <li>Communications integrated circuits</li>
    <li>Data converters</li>
    <li>Simulation and Modeling</li>
    <li>System on chip design</li>
  </ul>
  
  
  <h3><u>Communication and Signal Processing</u></h3>
  <ul>
    <li>Automatic Control</li>
    <li>Communication Theory</li>
    <li>Data Mining</li>
    <li>Machine Learning</li>
    <li>Low Power Digital Systems</li>
    <li>Wireless Communication</li>
  </ul>
  
  <h3><u>Electrical Systems</u></h3>
  <ul>
    <li>Control and Modeling</li>
    <li>Electrical Vehicles</li>
    <li>Robotics</li>
    <li>Machines and drives</li>
  </ul>
  
  <h3><u>Materials and Devices</u></h3>
  <ul>
    <li>CMOS</li>
    <li>Applied magnetics</li>
    <li>Low-cost electronics</li>
    <li>Modeling</li>
  </ul>
  </div>